.main-header {
  display: flex;
  height: 520px; /*This is equal to 400px with the 120 padding-top*/
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #FFA600;
  background-image: url("https://www.transparenttextures.com/patterns/checkered-pattern.png");
  padding-top: 120px;
}

header div h2 {
  color: #FFFFFF;
}

.notBold {
  font-weight: normal;
}
/*Header styling when 1024px and above, makes image size apporapriate*/
@media (min-width: 1024px) {
  .main-header {
    padding-top: 0;
    height: 400px;
    width: 35%;
    margin-right: 2rem;
  }
}