nav {
  display: flex;
  color: #FFFFFF;
  background-color: #4056A1;
  height: 120px;
  width: 100%;
  justify-content: space-between;
  position: fixed;
}

/* TWEETER */
.tweetLogo {
  font-family: "Bungee", sans-serif;
  margin: 1.5em;
  padding-top: 12px;
  font-size: 34px;
}
/* text */
.newTweetNav {
  display: flex;
  margin-right: 1.5em;
  flex-direction: column;
  align-items: center;
  padding-top: 38px;
}

.fa-angles-down {
 color: red;
}
/* changes colour of nav bar when below 1024 px, has to be set one below 1024 or it will change at 1024 as well */
@media (max-width: 1023px) {
  nav {
    background-color: #FFA600;
    background-image: url("https://www.transparenttextures.com/patterns/checkered-pattern.png");
  }
}